@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(47, 207, 127); ;
}
header{
    
    background-color: rgb(53, 133, 89);
    min-height: 150px;
    padding-top: 40px;

    color:rgb(138, 238, 181);
    text-decoration: none;
}
header > h1{
    text-align: center;
    color:white;
}
header > p{
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
}
nav{
    background-color: rgb(38, 85, 59);
    padding: 10px;
}
nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
nav > a:hover{
    background-color: springgreen;
}
main {
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
}
main > p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main > img{
    width: 100px;
}
article >h2{
    background-color: rgba(26, 206, 116, 0.349);
}
aside > h3{
    background-color: rgb(12, 95, 49); ;
    color: white;
}
aside{
    background-color:rgb(47, 207, 127); ;
    border-radius: 10px;
}
footer > p{
    background-color: rgb(12, 95, 49);
    color: white;
    text-align: center
}

footer >p>a{
    color: white;
    text-decoration: none;
    padding: 2px;
}
footer >p>a:hover{
    color: springgreen;
}